@model Sistema.Models.VMAdm

@{
    Layout = "~/Views/Shared/_LayoutPerfil.cshtml";
}

<section class="profile-section content-container">
    <div class="bg">
    </div>

    <div class="profile-pic-container">
        <div class="profile-pic">

            <div class="circle-pic avatar-placeholder">
                <img class="circle-pic" src="~/Content/img/adm.png" alt="Foto de perfil" />
            </div>

        </div>
    </div>

    <div class="username-wrapper"><h1 class="username">@Model.NomeAdm</h1></div>

    <div class="profile-info">
        @*<span>Email</span>*@
        <div class="bio-adm">
            <p>Administrador</p>
        </div>

    </div>

    <h2 class="profile-section-title">Denúncias de perfis</h2>
</section>

<section class="projects-section">

    <div class="glider-contain">
        <div class="glider">
            @*@foreach (var item in Model.IntegrantesProjetos)
                {
                    if (item.Projeto.Ativo == true)
                    {
                        <div class="card-container">
                            <div class="project-card">
                                <a href="@Url.Action("MeuProjeto", new { id = item.ProjetoId })">
                                    <div class="card-img">
                                        <img src="~/Uploads/@item.Projeto.Logo" alt="Imagem do projeto" />
                                    </div>
                                    <div>
                                        <h3 class="card-title">@item.Projeto.Nome</h3>
                                        <p class="card-text">@item.Projeto.Descricao</p>
                                    </div>
                                    <ul class="card-tags">
                                        @{
                                            int n = 0;

                                            foreach (var pro in item.Projeto.ProjetoTags)
                                            {

                                                if (n < 3)
                                                {
                                                    <li class="tag-container">
                                                        <div class="tag"><span class="tag-text">@pro.Tag.Nome</span></div>
                                                    </li>
                                                    n++;
                                                }
                                            }
                                        }
                                    </ul>
                                </a>
                            </div>
                        </div>
                    }
                }*@
        </div>

        <button aria-label="Previous" class="glider-prev"><span class="iconify" data-icon="tabler:chevron-left" data-inline="false"></span></button>
        <button aria-label="Next" class="glider-next"><span class="iconify" data-icon="tabler:chevron-right" data-inline="false"></span></button>
        <div role="tablist" class="glider-dots"></div>

    </div>

</section>

<section class="content-container section-separator">
    <h2 class="profile-section-title">Denúncias de projetos</h2>
</section>

<section class="projects-section">

    <div class="glider-contain">
        <div class="glider">
            @*@foreach (var item in Model.ProjetosSalvos)
                {
                    if (item.Projeto.Ativo == true)
                    {
                        <div class="card-container">
                            <div class="project-card">
                                <a href="@Url.Action("MeuProjeto", new { id = item.ProjetoId })">
                                    <div class="card-img">
                                        <img src="~/Uploads/@item.Projeto.Logo" alt="Imagem do projeto" />
                                    </div>
                                    <h3 class="card-title">@item.Projeto.Nome</h3>
                                    <p class="card-text">@item.Projeto.Descricao</p>
                                    <ul class="card-tags">
                                        @{
                                            int n = 0;

                                            foreach (var pro in item.Projeto.ProjetoTags)
                                            {
                                                if (n < 3)
                                                {
                                                    <li class="tag-container">
                                                        <div class="tag"><span class="tag-text">@pro.Tag.Nome</span></div>
                                                    </li>
                                                    n++;
                                                }
                                            }
                                        }
                                    </ul>
                                </a>

                                <button class="btn-delete" onclick="location.href='@Url.Action("ExcluirProjetosSalvos", "Home", new { id = item.Id })'"><span class="iconify" data-icon="tabler:trash" data-inline="false"></span></button>

                            </div>
                        </div>
                    }
                }*@
        </div>

        <button aria-label="Previous" class="glider-prev"><span class="iconify" data-icon="tabler:chevron-left" data-inline="false"></span></button>
        <button aria-label="Next" class="glider-next"><span class="iconify" data-icon="tabler:chevron-right" data-inline="false"></span></button>
        <div role="tablist" id="resp-dots" class="glider-dots"></div>

    </div>

</section>

<section class="adm-stats">
    <div class="tags-stats-container">
        <h3 class="stats-title">Fluxo de tags</h3>

        <div class="tag-stats">
            <div class="tag-title-stats">
                <div class="tag-container">
                    <div class="tag"><span class="tag-text">Quantidade</span></div>
                </div>
            </div>
            <ul class="tag-uses">
                <li>Projetos Cadastrados: <span>@Model.NumeroProjetos</span></li>
                <li>Usuarios Cadastrados: <span>@Model.NumeroUsuarios</span></li>
            </ul>
        </div>
        @foreach (var item in Model.Tags)
        {
            <div class="tag-stats">
                <div class="tag-title-stats">
                    <div class="tag-container">
                        <div class="tag"><span class="tag-text">@item.Nome</span></div>
                    </div>
                </div>

                <ul class="tag-uses">

                    @foreach (var subitem in Model.QuantidadeTagsProjetos)
                    {
                        if (subitem.IdTag == item.Id)
                        {
                            <li>Número de projetos: <span>@subitem.Quantidade</span></li>
                        }
                    }
                    @foreach (var subitem in Model.QuantidadeTagsUsuarios)
                    {
                        if (subitem.IdTag == item.Id)
                        {
                            <li>Número de perfis de usuário: <span>@subitem.Quantidade</span></li>
                        }
                    }

                    <li>Número de vezes pesquisada: <span>@item.Pesquisada</span></li>
                </ul>
            </div>
        }

    </div>
</section>



