@model Sistema.Models.VMPerfil

@{
    ViewBag.Title = "- Meu Perfil";
    Layout = "~/Views/Shared/_LayoutPerfil.cshtml";
}

<section class="profile-section content-container">
    <div class="bg">

    </div>
    <div class="profile-pic">
        @if (Model.Foto == null)
        {
            <div class="circle-pic avatar-placeholder">
                @if (Model.NomeSocial == null)
                {
                    <p>@Model.Nome.ToString()[0]</p>
                }
                else
                {
                    <p>@Model.NomeSocial.ToString()[0]</p>
                }
            </div>
        }
        else
        {
            <img class="circle-pic" src="~/Uploads/@Model.Foto" alt="Foto de perfil" />
        }
        <a class="profile-pic-edit" href="#" data-open-modal="modalPic"><span class="iconify" data-icon="tabler:camera" data-inline="false"></span></a>
    </div>
    @if (Model.NomeSocial == null)
    {
        <h1 class="username">@Model.Nome</h1>
    }
    else
    {
        <h1 class="username">@Model.NomeSocial</h1>
    }

    <div class="profile-info">
        <div class="bio">
            @using (Html.BeginForm("EditarBiografia", "Home", FormMethod.Post))
            {
                @Html.TextAreaFor(model => model.Biografia, new { @class = "bio-text", @readonly = true, @id = "editTxt" })
                <a class="edit-bio" id="editBio"><span class="iconify" data-icon="tabler:edit" data-inline="false"></span></a>
                <button class="edit-bio hidden-animated" id="confirmBio" type="submit"><span class="iconify" data-icon="tabler:checkbox" data-inline="false"></span></button>
            }
        </div>
    </div>

    <div class="profile-interests">
        <ul class="tag-group interests">

            @{
                int x = 0;
                foreach (var item in Model.UsuarioTags)
                {
                    if (x < 4)
                    {
                        <li class="tag-container">
                            <div class="tag"><span class="tag-text">@item.Tag.Nome</span></div>
                        </li>
                        x++;
                    }
                }
                if (x == 0)
                {
                    <li class="tag-container">
                        <div class="tag"><span class="tag-text">Seus interesses aparecerão aqui!</span></div>
                    </li>
                }
            }

            <li>
                <button class="add-tag" data-open-modal="modalTags"><span class="iconify" data-icon="tabler:plus" data-inline="false"></span></button>
            </li>
        </ul>
    </div>

    <h2 class="profile-section-title">Meus projetos</h2>
</section>

<section class="projects-section">

    <div class="glider-contain">
        <div class="glider">
            @foreach (var item in Model.IntegrantesProjetos)
            {
                <div class="card-container">
                    <div class="project-card">
                        <a href="#">
                            <div class="card-img">
                                <img src="~/Uploads/@item.Projeto.Logo" alt="Imagem do projeto" />
                            </div>
                            <h3 class="card-title">@item.Projeto.Nome</h3>
                            <p class="card-text">@item.Projeto.Descricao</p>
                            <ul class="card-tags">
                                @foreach (var pro in item.Projeto.ProjetoTags)
                                {
                                    <li class="tag-container">
                                        <div class="tag"><span class="tag-text">@pro.Tag.Nome</span></div>
                                    </li>
                                }
                            </ul>
                        </a>
                    </div>
                </div>
            }
            @*<div class="card-container">
                    <div class="project-card">
                        <a href="#">
                            <div class="card-img">
                                <img src="http://placekitten.com/500/300" alt="Imagem do projeto" />
                            </div>
                            <h3 class="card-title">Meu projeto</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis nisl libero, quis imperdiet turpis dapibus sit amet. Suspendisse vulputate lorem sit amet ipsum imperdiet rutrum...</p>
                            <ul class="card-tags">
                                <li class="tag-container">
                                    <div class="tag"><span class="tag-text">Batman</span></div>
                                </li>
                                <li class="tag-container">
                                    <div class="tag"><span class="tag-text">Batman</span></div>
                                </li>
                                <li class="tag-container">
                                    <div class="tag"><span class="tag-text">Batman</span></div>
                                </li>

                            </ul>
                        </a>
                    </div>
                </div>*@
        </div>

        <button aria-label="Previous" class="glider-prev"><span class="iconify" data-icon="tabler:chevron-left" data-inline="false"></span></button>
        <button aria-label="Next" class="glider-next"><span class="iconify" data-icon="tabler:chevron-right" data-inline="false"></span></button>
        <div role="tablist" class="glider-dots"></div>

    </div>

    <div class="add-project"><a class="btn btn-primary">Novo projeto<span class="iconify" data-icon="tabler:plus" data-inline="true"></span></a></div>
</section>

<section class="content-container section-separator">
    <h2 class="profile-section-title">Projetos salvos</h2>
</section>

<section class="projects-section">

    <div class="glider-contain">
        <div class="glider">
            @foreach (var item in Model.ProjetosSalvos)
            {
                <div class="card-container">
                    <div class="project-card">
                        <a href="#">
                            <div class="card-img">
                                <img src="~/Uploads/@item.Projeto.Logo" alt="Imagem do projeto" />
                            </div>
                            <h3 class="card-title">@item.Projeto.Nome</h3>
                            <p class="card-text">@item.Projeto.Descricao</p>
                            <ul class="card-tags">
                                @foreach (var pro in item.Projeto.ProjetoTags)
                                {
                                    <li class="tag-container">
                                        <div class="tag"><span class="tag-text">@pro.Tag.Nome</span></div>
                                    </li>
                                }
                            </ul>
                        </a>

                        <button class="btn-delete" onclick="location.href='@Url.Action("ExcluirProjetosSalvos", "Home", new { id = item.Id })'"><span class="iconify" data-icon="tabler:trash" data-inline="false"></span></button>

                    </div>
                </div>
            }
        </div>

        <button aria-label="Previous" class="glider-prev"><span class="iconify" data-icon="tabler:chevron-left" data-inline="false"></span></button>
        <button aria-label="Next" class="glider-next"><span class="iconify" data-icon="tabler:chevron-right" data-inline="false"></span></button>
        <div role="tablist" id="resp-dots" class="glider-dots"></div>

    </div>

</section>


<div class="modal-bg hidden-animated" id="modalTags">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-title">Editar interesses</h3>
            <div class="close-modal" data-close-modal="modalTags">
                <span class="iconify" data-icon="tabler:x" data-inline="true"></span>
            </div>
        </div>
        <div class="modal-body">
            <ul class="tag-group">
                @{
                    int i = 0;
                    foreach (var item in Model.UsuarioTags)
                    {
                        <li class="tag-container">
                            <div class="tag"><span class="tag-text">@item.Tag.Nome</span><input onclick="window.location.href='@Url.Action("ExcluirTag", "Home", new { id = item.Id })'" class="iconify" data-icon="tabler:x" data-inline="true" /></div>
                        </li>
                        i++;
                    }
                    if (i == 0)
                    {
                        <li class="tag-container">
                            <div class="tag"><span class="tag-text">Utilize o campo abaixo para adicionar um interesse!</span></div>
                        </li>
                    }
                }
            </ul>

            @using (Html.BeginForm("AdicionarTag", "Home", FormMethod.Post, new { @class = "form single-col" }))
            {
                <div class="form-group-row">
                    @Html.EditorFor(model => model.PesquisaTag)
                    <button class="add-tag" type="submit" id="add-tag"><span class="iconify" data-icon="tabler:plus" data-inline="false"></span></button>
                    <span id="msg"></span>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal-bg hidden-animated" id="modalPic">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-title">Editar Foto</h3>
            <div class="close-modal" data-close-modal="modalPic">
                <span class="iconify" data-icon="tabler:x" data-inline="true"></span>
            </div>
        </div>
        @using (Html.BeginForm("EditarFoto", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-body">
                <div class="profile-pic">

                    <img class="circle-pic" id="img" src="~/Uploads/@Model.Foto" />
                </div>
            <div id="img">

                </div>
            </div>
            <div class="modal-footer">
                <input name="arq" class="btn btn-secondary" type="file" />
                <button class="btn btn-primary">Confirmar</button>
            </div>
        }
    </div>
</div>


@*<script>
    $uploadCrop = $('#img').croppie({

        viewport: {
            width: 200,
            height: 200,
            type: 'circle'
        },
        boundary: {
            width: 300,
            height: 300
        }
    });
</script>*@



