@model Sistema.Models.VMPrincipal

@{
    ViewBag.Title = "Principal";
}

<div class="flex">
    <div class="texto">
        <p>
            A plataforma online em  que você cadastra seu projeto de qualquer segmento
            e encontra parceiros e investidores para alavancar e tirar sua idéia do papel.
            Bora mover?
        </p>
    </div>

    <div class="imagem">
        <img src="~/Content/img/hero.svg" alt="imagem sucesso">
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form single-col">
        <div class="search">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.EditorFor(model => model.PesquisaTag, new { htmlAttributes = new { @class = "form-control", @placeholder = "Pesquise uma Tag..." } })
            </div>

            <div class="botao">
                <button type="submit" class="pesquisa-btn">
                    <span class="iconify" data-icon="tabler:search" data-inline="false"></span>
                </button>
            </div>
        </div>
    </div>
}

<div class="search-tags">
    <ul class="tag-group">
        @{
            if (Model != null && Model.UsuarioTags != null)
            {
                int x = 0;
                foreach (var item in Model.UsuarioTags)
                {
                    <li class="tag-container"><div class="tag"><p>@item.Tag.Nome</p></div></li>
                    x++;
                }
            }
            else
            {
                <li class="tag-container"><div class="tag"><p>Games</p></div></li>
                <li class="tag-container"><div class="tag"><p>Tecnologia</p></div></li>
                <li class="tag-container"><div class="tag"><p>Mobile</p></div></li>
                <li class="tag-container"><div class="tag"><p>Finança</p></div></li>
            }
        }

    </ul>
</div>

<div class="results-grid">
    @{
        if (Model != null && Model.ProjetoTags != null)
        {
            int quant = 0;
            foreach (var item in Model.ProjetoTags)
            {
                bool meuProjeto = false, projetoSalvo = false;

                foreach (var meu in item.Projeto.IntegrantesProjetos)
                {
                    if (meu.UsuarioID == Model.UsuarioId)
                    {
                        meuProjeto = true;
                    }
                }
                if (Model.ProjetosSalvos != null)
                {
                    foreach (var salvo in Model.ProjetosSalvos)
                    {
                        if (item.ProjetoId == salvo.ProjetoId)
                        {
                            projetoSalvo = true;
                        }
                    }
                }

                if (meuProjeto == false && projetoSalvo == false)
                {
                    <div class="card-container">
                        <div class="project-card">
                            <a href="@Url.Action("MeuProjeto", new { id = item.ProjetoId })">
                                <div class="card-img">
                                    <img src="~/Uploads/@item.Projeto.Logo" alt="Imagem do projeto" />
                                </div>
                                <div>
                                    <h3 class="card-title">@item.Projeto.Nome</h3>
                                    <p class="card-text">@item.Projeto.Descricao</p>
                                </div>
                                <ul class="card-tags">
                                    @{
                                        int n = 0;

                                        foreach (var pro in item.Projeto.ProjetoTags)
                                        {
                                            if (n < 3)
                                            {
                                                <li class="tag-container">
                                                    <div class="tag"><span class="tag-text">@pro.Tag.Nome</span></div>
                                                </li>
                                                n++;
                                            }
                                        }
                                    }
                                </ul>
                            </a>
                        </div>
                    </div>
                    quant++;
                }
            }
            if (quant == 0)
            {
                <div class="mensagem">
                    <p>Não encontramos nada :(</p>
                </div>
            }
        }
        else
        {
            <div class="mensagem">
                <p>Os projetos com as tags que você pesquisar aparecerão bem aqui ;)</p>
            </div>
        }
    }
</div>
