@model Sistema.Models.VMPerfil

@{
    ViewBag.Title = "- Meu Perfil";
    Layout = "~/Views/Shared/_LayoutVisitarPerfil.cshtml";
}

<section class="profile-section content-container">
    <div class="bg">
    </div>

    <div class="profile-pic-container">
        <div class="profile-pic">
            @if (Model.Foto == null)
            {
                <div class="circle-pic avatar-placeholder">
                    <p>@Model.Nome.ToString()[0]</p>
                </div>
            }
            else
            {
                <img class="circle-pic" src="~/Uploads/@Model.Foto" alt="Foto de perfil" />
            }
        </div>
    </div>

    <div class="username-wrapper">
        <h1 class="username">@Model.Nome</h1>
        <button class="btn-report" data-open-modal="modalDenuncia"><span class="iconify" data-icon="tabler:alert-octagon" data-inline="true"></span></button>
    </div>

    <div class="profile-info">
        <div class="bio">
            <p class="bio-text">@Model.Biografia</p>
        </div>
    </div>

    <div class="profile-interests">
        <ul class="tag-group interests">

            @{
                int x = 0;
                foreach (var item in Model.UsuarioTags)
                {
                    if (x < 3)
                    {
                        <li class="tag-container">
                            <div class="tag"><span class="tag-text">@item.Tag.Nome</span></div>
                        </li>

                        x++;
                    }
                }
                if (x == 0)
                {
                    <li class="tag-container">
                        <div class="tag"><span class="tag-text">Este usuário não possui tags cadastradas.</span></div>
                    </li>
                }
                else if (Model.UsuarioTags.Count > 3)
                {
                    <li class="tag-container">
                        <div class="tag"><span class="tag-text">...</span></div>
                    </li>
                    <li>
                        <button class="add-tag" data-open-modal="modalTags"><span class="iconify" data-icon="tabler:plus" data-inline="false"></span></button>
                    </li>
                }
            }

        </ul>
    </div>

    <h2 class="profile-section-title">Meus Projetos</h2>
</section>

<section class="projects-section">

    <div class="glider-contain">
        <div class="glider">
            @foreach (var item in Model.IntegrantesProjetos)
            {
                if (item.Projeto.Ativo == true)
                {
                    <div class="card-container">
                        <div class="project-card">
                            <a href="@Url.Action("MeuProjeto", new { id = item.ProjetoId })">
                                <div class="card-img">
                                    <img src="~/Uploads/@item.Projeto.Logo" alt="Imagem do projeto" />
                                </div>
                                <h3 class="card-title">@item.Projeto.Nome</h3>
                                <p class="card-text">@item.Projeto.Descricao</p>
                                <ul class="card-tags">
                                    @{
                                        int n = 0;

                                        foreach (var pro in item.Projeto.ProjetoTags)
                                        {

                                            if (n < 3)
                                            {
                                                <li class="tag-container">
                                                    <div class="tag"><span class="tag-text">@pro.Tag.Nome</span></div>
                                                </li>
                                                n++;
                                            }
                                        }
                                    }
                                </ul>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>

        <button aria-label="Previous" class="glider-prev"><span class="iconify" data-icon="tabler:chevron-left" data-inline="false"></span></button>
        <button aria-label="Next" class="glider-next"><span class="iconify" data-icon="tabler:chevron-right" data-inline="false"></span></button>
        <div role="tablist" class="glider-dots"></div>

    </div>

</section>

<div class="modal-bg hidden" id="modalTags">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-title">Interesses</h3>
            <div class="close-modal" data-close-modal="modalTags">
                <span class="iconify" data-icon="tabler:x" data-inline="true"></span>
            </div>
        </div>
        <div class="modal-body">
            <ul class="tag-group">
                @{
                    int i = 0;
                    foreach (var item in Model.UsuarioTags)
                    {
                        <li class="tag-container">
                            <div class="tag"><span class="tag-text">@item.Tag.Nome</span></div>
                        </li>
                        i++;
                    }
                    if (i == 0)
                    {
                        <li class="tag-container">
                            <div class="tag"><span class="tag-text">Utilize o campo abaixo para adicionar um interesse!</span></div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<div class="modal-bg hidden" id="modalDenuncia">
    <div class="modal modal-denuncia">
        <div class="modal-header">
            <h3 class="modal-title">Denunciar Usuário</h3>
            <div class="close-modal" data-close-modal="modalDenuncia">
                <span class="iconify" data-icon="tabler:x" data-inline="true"></span>
            </div>
        </div>
        <div class="modal-body">
            @*@using (Html.BeginForm("DenunciarUsuario", "Home", FormMethod.Post))
        {*@
            <div class="infracoes-help">
                <p>Lamentamos que isso aconteceu ;(</p>
                <p>Selecione abaixo o tipo de infração que ocorreu(selecione apenas uma opção).</p>
            </div>

            <div class="infracoes-container">
                <div>
                    <input id="linguajar" type="radio" name="infracao" value="linguajar" />
                    <label class="infracao" for="linguajar">
                        <span class="indicator"></span>
                        <span class="label-text">Linguajar impróprio(ex: palavrões...)</span>
                    </label>
                </div>


                <div>
                    <input id="imagem" type="radio" name="infracao" value="imagem" />
                    <label class="infracao" for="imagem">
                        <span class="indicator"></span>
                        <span class="label-text">Imagens de conteúdo impróprio(ex: pornografia...)</span>
                    </label>
                </div>

                <div>
                    <input id="odio" type="radio" name="infracao" value="odio" />
                    <label class="infracao" for="odio">
                        <span class="indicator"></span>
                        <span class="label-text">Crime de ódio(ex: injuria racial, homofobia...)</span>
                    </label>
                </div>

                <div>
                    <input id="plagio" type="radio" name="infracao" value="plagio" />
                    <label class="infracao" for="plagio">
                        <span class="indicator"></span>
                        <span class="label-text">Plágio(ex: trabalho copiado de um terceiro...)</span>
                    </label>
                </div>

            </div>

            <div class="denuncia-obs-container">
                <label>Se deseja fazer alguma observação, insira abaixo</label>
                <textarea class="textarea"></textarea>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary">Denunciar</button>
        </div>
        @* } *@
    </div>
</div>







