@model Sistema.Models.VMProjeto

@{
    Layout = "~/Views/Shared/_LayoutProjeto.cshtml";
}

<div class="form-horizontal espaco">
    <div class="retangulo">
        <div class="infos">
            <div class="imagem">
                <div class="img-projeto"> <img src="~/Uploads/@Model.Logo" /> </div>
            </div>
            <div class="descricao">

                <div class="input-infos">
                    <p class="form-control">@Model.Nome</p>
                </div>
                <div class="infos-txt">
                    @Html.TextAreaFor(model => model.Descricao, new { @class = "bio-text", @readonly = true, @id = "editTxt" })
                </div>

                <div>
                    <ul class="tag-group interests">

                        @{
                            int x = 0;
                            foreach (var item in Model.ProjetoTags)
                            {
                                if (x < 3)
                                {
                                    <li class="tag-container">
                                        <div class="tag"><span class="tag-text">@item.Tag.Nome</span></div>
                                    </li>
                                    x++;
                                }
                            }
                            if (Model.ProjetoTags.Count > 3)
                            {
                                <li class="tag-container">
                                    <div class="tag"><span class="tag-text">...</span></div>
                                </li>
                                <li>
                                    <button class="add-tag" data-open-modal="modalTag"><span class="iconify" data-icon="tabler:plus" data-inline="false"></span></button>
                                </li>
                            }
                            if (x == 0)
                            {
                                <li class="tag-container">
                                    <div class="tag"><span class="tag-text">O projeto não possui Tags cadastradas.</span></div>
                                </li>
                            }
                        }


                    </ul>
                </div>
                @{
                    bool salvo = false;
                    foreach (var item in Model.ProjetosSalvos)
                    {
                        if (item.ProjetoId == Model.Id)
                        {
                            salvo = true;
                        }
                    }
                    if (salvo)
                    {
                        <a class="salvar-projeto salvo" id="salvar-projeto">
                            <svg width="33" height="46" viewBox="0 0 33 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M33 46V4.6646C33 3.42747 32.5033 2.24101 31.6192 1.36623C30.7351 0.491448 29.536 0 28.2857 0H4.71429C3.46398 0 2.26488 0.491448 1.38078 1.36623C0.496682 2.24101 0 3.42747 0 4.6646V46L16.5 35.339L33 46ZM7.07143 13.9938L13.3579 13.2172L16.5 6.99691L19.6421 13.2172L25.9286 13.9938L20.6886 18.3995L22.7865 25.6553L16.5 21.5085L10.2135 25.6553L12.3114 18.3995L7.07143 13.9938Z" fill="#9F9999" />
                            </svg>
                        </a>
                    }
                    else
                    {
                        <a class="salvar-projeto" id="salvar-projeto">
                            <svg width="33" height="46" viewBox="0 0 33 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M33 46V4.6646C33 3.42747 32.5033 2.24101 31.6192 1.36623C30.7351 0.491448 29.536 0 28.2857 0H4.71429C3.46398 0 2.26488 0.491448 1.38078 1.36623C0.496682 2.24101 0 3.42747 0 4.6646V46L16.5 35.339L33 46ZM7.07143 13.9938L13.3579 13.2172L16.5 6.99691L19.6421 13.2172L25.9286 13.9938L20.6886 18.3995L22.7865 25.6553L16.5 21.5085L10.2135 25.6553L12.3114 18.3995L7.07143 13.9938Z" fill="#9F9999" />
                            </svg>
                        </a>
                    }
                }

            </div>
            <button class="add-tag" data-open-modal="modalDenuncia"><span class="iconify" data-icon="tabler:x" data-inline="false"></span></button>
        </div>

        <div class="upload">
            <div class="upload-arq">
                @{
                    int quant = 0;
                    foreach (var item in Model.ArquivosProjetos)
                    {
                        @*<a onclick="window.location.href='@Url.Action("VisualizarPdf", "Home", new { id = item.Id })'">*@
                        <a onclick="window.open('@Url.Action("VisualizarPdf", "Home", new { id = item.Id })', '_blank');">
                            <div class="uploads-icon">
                                <span class="iconify" data-icon="tabler:file-text" data-inline="false"></span>
                            </div>
                            <h2>@item.Nome</h2>
                        </a>
                        quant++;
                    }
                    if (quant == 0)
                    {
                        <p>A equipe não adicionou a documentação ainda.</p>
                    }
                }
            </div>
            @if (quant > 0)
            {
                <div class="uploads-icon">
                    *Clique no documento para visualizar
                </div>
            }
        </div>
    </div>

    <div class="projeto-equipe">
        @if (Model.IntegrantesProjetos.Count > 3)
        {
            <a class="title-equipe" data-open-modal="modalEquipe"> Equipe <span class="iconify" data-icon="tabler:user-plus" data-inline="false"></span></a>
        }
        else
        {
            <p class=""> Equipe do Projeto </p>
        }
        <div class="equipe-container">
            @{
                int y = 0;
                foreach (var item in Model.IntegrantesProjetos)
                {
                    if (y < 3)
                    {
                        <div class="profile-pic profile-pic-mini">
                            <a href="@Url.Action("VisitarPerfil", new { id = item.UsuarioID })">

                                @if (item.Usuario.Foto == null)
                                {
                                    <div class="circle-pic avatar-placeholder">
                                        <p>@Model.Nome.ToString()[0]</p>
                                    </div>
                                }
                                else
                                {
                                    <img class="circle-pic" src="~/Uploads/@item.Usuario.Foto" />
                                }

                            </a>
                        </div>
                        y++;
                    }
                    if (Model.IntegrantesProjetos.Count > 3)
                    {
                        <p>...</p>
                    }
                }
            }

        </div>
    </div>

    <div class="form-btns">
        @Html.ActionLink("Voltar", "Principal", "Home", new { @class = "btn btn-secondary" })
        <input type="submit" value="Chat da Equipe" class="btn btn-primary" />
    </div>
</div>

<div class="modal-bg hidden" id="modalTag">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-title">Editar interesses</h3>
            <div class="close-modal" data-close-modal="modalTag">
                <span class="iconify" data-icon="tabler:x" data-inline="true"></span>
            </div>
        </div>
        <div class="modal-body">
            <ul class="tag-group">
                @{
                    int i = 0;
                    foreach (var item in Model.ProjetoTags)
                    {
                        <li class="tag-container">
                            <div class="tag"><span class="tag-text">@item.Tag.Nome</span><input onclick="window.location.href='@Url.Action("ExcluirTagProjeto", "Home", new { id = item.Id })'" class="iconify" data-icon="tabler:x" data-inline="true" /></div>
                        </li>
                        i++;
                    }
                }
            </ul>
        </div>
    </div>
</div>

<div class="modal-bg hidden" id="modalEquipe">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-title">Editar Equipe</h3>
            <div class="close-modal" data-close-modal="modalEquipe">
                <span class="iconify" data-icon="tabler:x" data-inline="true"></span>
            </div>
        </div>
        <div class="modal-body">
            <div class="integrante-modal">
                <div class="integrante-edit">

                    <ul class="tag-group">
                        @foreach (var item in Model.IntegrantesProjetos)
                        {
                            <li class="tag-container">
                                <div class="tag"><span class="tag-text">@item.Usuario.Nome</span><input onclick="window.location.href='@Url.Action("ExcluirIntegrante", "Home", new { id = item.Id })'" class="iconify" data-icon="tabler:x" data-inline="true" /></div>
                            </li>

                        }
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-bg hidden" id="modalDenuncia">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-title">Denunciar Projeto</h3>
            <div class="close-modal" data-close-modal="modalDenuncia">
                <span class="iconify" data-icon="tabler:x" data-inline="true"></span>
            </div>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("DenunciarProjeto", "Home", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.Id)
                        @Html.LabelFor(model => model.MotivoDenuncia, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextAreaFor(model => model.MotivoDenuncia, htmlAttributes: new { @class = "bio-text" })
                        @Html.ValidationMessageFor(model => model.MotivoDenuncia, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Denunciar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        const salvarBtn = document.querySelector('#salvar-projeto');

        salvarBtn.addEventListener('click', () => {
            const headers = {
                "Content-Type": "application/json",
                "Access-Control-Origin": "*"
            };
            const data = {
                id: @Model.Id,
            }

            if (salvarBtn.classList.contains('salvo')) {
                fetch("/Home/RemoverProjetoSalvo", {
                    method: 'POST',
                    headers: headers,
                    body: JSON.stringify(data)
                }).then(() => salvarBtn.classList.remove('salvo'));
            }
            else {
                fetch("/Home/SalvarProjeto", {
                    method: 'POST',
                    headers: headers,
                    body: JSON.stringify(data)
                }).then(() => salvarBtn.classList.add('salvo'));
            }
        })
    </script>
}

