@model Sistema.Models.VMPerfil

@{
    ViewBag.Title = "- Meu Perfil";
    Layout = "~/Views/Shared/_LayoutVisitarPerfil.cshtml";
}

<section class="profile-section content-container">
    <div class="bg">
    </div>

    <div class="profile-pic-container">
        <div class="profile-pic">
            @if (Model.Foto == null)
            {
                <div class="circle-pic avatar-placeholder">
                    <p>@Model.Nome.ToString()[0]</p>
                </div>
            }
            else
            {
                <img class="circle-pic" src="~/Uploads/@Model.Foto" alt="Foto de perfil" />
            }
        </div>
    </div>

    <div class="username-wrapper">
        <h1 class="username">@Model.Nome</h1>
        <button class="btn-report" data-open-modal="modalDenuncia"><span class="iconify" data-icon="tabler:alert-octagon" data-inline="true"></span></button>
    </div>

    <div class="profile-info">
        <div class="bio">
            <p class="bio-text">@Model.Biografia</p>
        </div>
    </div>

    <div class="profile-interests">
        <ul class="tag-group interests">

            @{
                int x = 0;
                foreach (var item in Model.UsuarioTags)
                {
                    if (x < 3)
                    {
                        <li class="tag-container">
                            <div class="tag"><span class="tag-text">@item.Tag.Nome</span></div>
                        </li>

                        x++;
                    }
                }
                if (x == 0)
                {
                    <li class="tag-container">
                        <div class="tag"><span class="tag-text">Este usuário não possui tags cadastradas.</span></div>
                    </li>
                }
                else if (Model.UsuarioTags.Count > 3)
                {
                    <li class="tag-container">
                        <div class="tag"><span class="tag-text">...</span></div>
                    </li>
                    <li>
                        <button class="add-tag" data-open-modal="modalTags"><span class="iconify" data-icon="tabler:plus" data-inline="false"></span></button>
                    </li>
                }
            }

        </ul>
    </div>

    <h2 class="profile-section-title">Meus Projetos</h2>
</section>

<section class="projects-section">

    <div class="glider-contain">
        <div class="glider">
            @foreach (var item in Model.IntegrantesProjetos)
            {
                if (item.Projeto.Ativo == true)
                {
                    <div class="card-container">
                        <div class="project-card">
                            <a href="@Url.Action("MeuProjeto", new { id = item.ProjetoId })">
                                <div class="card-img">
                                    <img src="~/Uploads/@item.Projeto.Logo" alt="Imagem do projeto" />
                                </div>
                                <h3 class="card-title">@item.Projeto.Nome</h3>
                                <p class="card-text">@item.Projeto.Descricao</p>
                                <ul class="card-tags">
                                    @{
                                        int n = 0;

                                        foreach (var pro in item.Projeto.ProjetoTags)
                                        {

                                            if (n < 3)
                                            {
                                                <li class="tag-container">
                                                    <div class="tag"><span class="tag-text">@pro.Tag.Nome</span></div>
                                                </li>
                                                n++;
                                            }
                                        }
                                    }
                                </ul>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>

        <button aria-label="Previous" class="glider-prev"><span class="iconify" data-icon="tabler:chevron-left" data-inline="false"></span></button>
        <button aria-label="Next" class="glider-next"><span class="iconify" data-icon="tabler:chevron-right" data-inline="false"></span></button>
        <div role="tablist" class="glider-dots"></div>

    </div>

</section>

<div class="modal-bg hidden" id="modalTags">
    <div class="modal">
        <div class="modal-header">
            <h3 class="modal-title">Interesses</h3>
            <div class="close-modal" data-close-modal="modalTags">
                <span class="iconify" data-icon="tabler:x" data-inline="true"></span>
            </div>
        </div>
        <div class="modal-body">
            <ul class="tag-group">
                @{
                    int i = 0;
                    foreach (var item in Model.UsuarioTags)
                    {
                        <li class="tag-container">
                            <div class="tag"><span class="tag-text">@item.Tag.Nome</span></div>
                        </li>
                        i++;
                    }
                    if (i == 0)
                    {
                        <li class="tag-container">
                            <div class="tag"><span class="tag-text">Utilize o campo abaixo para adicionar um interesse!</span></div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<div class="modal-bg hidden" id="modalDenuncia">
    <div class="modal modal-denuncia">
        <div class="modal-header">
            <h3 class="modal-title">Denunciar Usuário</h3>
            <div class="close-modal" data-close-modal="modalDenuncia">
                <span class="iconify" data-icon="tabler:x" data-inline="true"></span>
            </div>
        </div>
        @using (Html.BeginForm("DenunciarUsuario", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="modal-body">

                <div class="infracoes-help">
                    <p>Lamentamos que isso aconteceu :(</p>
                    <p>Selecione abaixo o tipo de infração que ocorreu:</p>
                </div>

                <div class="infracoes-container">
                    <div>
                        @Html.RadioButtonFor(model => model.MotivoDenuncia, "Conteúdo impróprio", new { id = "conteudo" })
                        <label class="infracao" for="conteudo">
                            <span class="indicator"></span>
                            <span class="label-text">Conteúdo impróprio (ex: pornografia, palavrões...)</span>
                        </label>
                    </div>

                    <div>
                        @Html.RadioButtonFor(model => model.MotivoDenuncia, "Crime de ódio", new { id = "odio" })
                        <label class="infracao" for="odio">
                            <span class="indicator"></span>
                            <span class="label-text">Crime de ódio (ex: injuria racial, homofobia...)</span>
                        </label>
                    </div>

                    <div>
                        @Html.RadioButtonFor(model => model.MotivoDenuncia, "Falsidade Ideológica", new { id = "falsidade" })
                        <label class="infracao" for="falsidade">
                            <span class="indicator"></span>
                            <span class="label-text">Falsidade Ideológica (Usuário se passando por outra pessoa.)</span>
                        </label>
                    </div>

                    <div>
                        @Html.RadioButtonFor(model => model.MotivoDenuncia, "Usuário Fake", new { id = "fake" })
                        <label class="infracao" for="fake">
                            <span class="indicator"></span>
                            <span class="label-text">Usuário Fake (Usuário não existe de verdade.)</span>
                        </label>
                    </div>

                </div>

                <div class="denuncia-obs-container">
                    <label>Se deseja fazer alguma observação, insira abaixo</label>
                    @Html.TextAreaFor(model => model.Observacao, new { @class = "bio-text" })
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Denunciar</button>
            </div>
        }
    </div>
</div>







