<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVE @ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@10.5.1/dist/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    @Styles.Render("~/content/styles/style.min.css")
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>

<body>
    <header id="top">
        <nav class="navbar navbar-profile">
            <a href='@Url.Action("Index", "Home")' class="navbar-logo">
                @*<img src='@Url.Content("~/Content/Images/MyLinkImage.png")' />*@
                <img src='@Url.Content("~/content/img/move_logoPerfil.png")' alt="Logo" />
            </a>

            <ul class="navbar-list">
                <li>@Html.ActionLink("Descobrir", "Principal", "Home")</li>
                <li>@Html.ActionLink("Editar", "EditarUsuario", "Home")</li>
                <li>@Html.ActionLink("Sair", "Sair", "Home")</li>
            </ul>
        </nav>
    </header>

    <div class="">
        @RenderBody()
    </div>

    <div class="back-to-top hidden">
        <a href="#"><span class="iconify" data-icon="tabler:arrow-up" data-inline="true"></span></a>
    </div>

    <footer class="footer">
        <ul class="socials">
            <li>
                <a href="#"><span class="iconify" data-icon="tabler:brand-facebook" data-inline="false"></span></a>
            </li>
            <li>
                <a href="#"><span class="iconify" data-icon="tabler:brand-instagram" data-inline="false"></span></a>
            </li>
            <li>
                <a href="#"><span class="iconify" data-icon="tabler:mail" data-inline="false"></span></a>
            </li>
        </ul>

        <div class="copyright">
            <p>Copyright by MOVE</p>
        </div>

        <div></div>
    </footer>

    @Scripts.Render("~/scripts/script.js")
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script src="https://cdn.tiny.cloud/1/no-apikey/tinymce/5/tinymce.min.js"
                referrerpolicy="origin"></script>
        <script>tinymce.init({ selector: 'textarea' });</script>*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.5.1/dist/sweetalert2.min.js"></script>

    @if (TempData["MSG"] != null)
    {
        <script>
            $(document).ready(function () {
            var titulo = "";
            switch ("@TempData["MSG"].ToString().Split('|')[0]") {
            case "success":
            titulo = "Sucesso";
            break;
            case "warning":
            titulo = "Atenção";
            break;
            case "error":
            titulo = "Erro";
            break;
            case "info":
            titulo = "Informação";
            break;
                }
            Swal.fire({
                      title: titulo,
                      text: "@Html.Raw(TempData["MSG"].ToString().Split('|')[1])",
                      icon: "@TempData["MSG"].ToString().Split('|')[0]",
                      confirmButtonText: 'OK'
                    })
            });
        </script>
    }
    <script>
        window.addEventListener('load', function () {
            new Glider(document.querySelector('.glider'), {
                slidesToShow: 0.999,
                slidesToScroll: 1,
                itemWidth: 300,
                scrollLock: true,
                draggable: true,
                dots: '#resp-dots',
                arrows: {
                    prev: '.glider-prev',
                    next: '.glider-next'
                },
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 'auto',
                            itemWidth: 360,
                            duration: 0.25
                        }
                    }, {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 'auto',
                            slidesToScroll: 'auto',
                            itemWidth: 360,

                            duration: 0.5
                        }
                    }
                ]
            })
        });
    </script>    
</body>
</html>

