<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVE @ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/content/styles/style.min.css")
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href='@Url.Action("Index", "Home")' class="navbar-logo">
                @*<img src='@Url.Content("~/Content/Images/MyLinkImage.png")' />*@
                <img src='@Url.Content("~/content/img/logo.svg")' alt="Logo" />
            </a>



            <ul class="navbar-list">
                @if (User.Identity.IsAuthenticated)
                {
                    string[] user = User.Identity.Name.Split(' ');
                    <li>@user[1]</li>
                    <li>@Html.ActionLink("Sair", "Sair", "Home")</li>
 }
                else
                {
                    <li>@Html.ActionLink("Cadastro", "Cadastro", "Home")</li>
                    <li>@Html.ActionLink("Entrar", "Acesso", "Home")</li>
}
            </ul>
        </nav>
    </header>
    <div class="content-container">
        @RenderBody()
    </div>
    <footer class="footer">
        <ul class="socials">
            <li>
                <a href="#"><span class="iconify" data-icon="tabler:brand-facebook" data-inline="false"></span></a>
            </li>
            <li>
                <a href="#"><span class="iconify" data-icon="tabler:brand-instagram" data-inline="false"></span></a>
            </li>
            <li>
                <a href="#"><span class="iconify" data-icon="tabler:mail" data-inline="false"></span></a>
            </li>
        </ul>
        <p>Copyright by MOVE</p>
        <div></div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
